(edif SDram_rd
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2014 2 24 20 6 25)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XA1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A ^ B) & C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell OR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B + C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OAI1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!((A + B) & C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + !C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B + C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
    (cell DFN1P0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT)
 )
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT)
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell SDram_rd (cellType GENERIC)
       (view behavioral (viewType NETLIST)
         (interface
           (port Sysclk (direction INPUT)
 )
           (port rst_n (direction INPUT))
           (port SD_rdEN (direction INPUT))
           (port SD_rdEN_noact (direction INPUT))
           (port row_end (direction INPUT))
           (port SD_RdOK (direction OUTPUT))
           (port (array (rename rd_state "rd_state[2:0]") 3) (direction OUTPUT))
         )
         (contents
          (instance Sysclk_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance (rename pr_state_RNO_7 "pr_state_RNO[7]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename pr_state_RNO_0_6 "pr_state_RNO_0[6]") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename rd_state_RNO_0_1 "rd_state_RNO_0[1]") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename rd_state_RNO_1 "rd_state_RNO[1]") (viewRef prim (cellRef OR3 (libraryRef PA3)))          )
          (instance temp_n1_0_i (viewRef prim (cellRef XA1 (libraryRef PA3)))          )
          (instance rd_ok_RNO (viewRef prim (cellRef NOR3C (libraryRef PA3)))          )
          (instance (rename rd_state_RNO_0 "rd_state_RNO[0]") (viewRef prim (cellRef OR3 (libraryRef PA3)))          )
          (instance (rename rd_state_RNO_2 "rd_state_RNO[2]") (viewRef prim (cellRef OR3 (libraryRef PA3)))          )
          (instance (rename pr_state_RNO_2 "pr_state_RNO[2]") (viewRef prim (cellRef NOR3A (libraryRef PA3)))          )
          (instance temp_n1_0_i_o3 (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance temp_n2_0_i (viewRef prim (cellRef XA1 (libraryRef PA3)))          )
          (instance temp_n0_0_0_a3 (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename pr_state_RNIG4RA_7 "pr_state_RNIG4RA[7]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename pr_state_RNO_0 "pr_state_RNO[0]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename pr_state_RNO_1 "pr_state_RNO[1]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename pr_state_RNO_3 "pr_state_RNO[3]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename pr_state_RNO_4 "pr_state_RNO[4]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename pr_state_RNO_5 "pr_state_RNO[5]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename pr_state_RNO_6 "pr_state_RNO[6]") (viewRef prim (cellRef OAI1 (libraryRef PA3)))          )
          (instance (rename pr_state_RNION3A_5 "pr_state_RNION3A[5]") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename pr_state_RNIMN3A_2 "pr_state_RNIMN3A[2]") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename pr_state_RNO_1_6 "pr_state_RNO_1[6]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance rd_ok (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename temp_0 "temp[0]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename temp_1 "temp[1]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename temp_2 "temp[2]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename pr_state_7 "pr_state[7]") (viewRef prim (cellRef DFN1P0 (libraryRef PA3)))
          )
          (instance (rename pr_state_6 "pr_state[6]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename pr_state_5 "pr_state[5]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename pr_state_4 "pr_state[4]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename pr_state_3 "pr_state[3]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename pr_state_2 "pr_state[2]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename pr_state_1 "pr_state[1]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename pr_state_0 "pr_state[0]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename rd_stateZ0Z_0 "rd_state[0]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename rd_stateZ0Z_1 "rd_state[1]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename rd_stateZ0Z_2 "rd_state[2]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename rd_state_pad_2 "rd_state_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename rd_state_pad_1 "rd_state_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename rd_state_pad_0 "rd_state_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance SD_RdOK_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance row_end_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance SD_rdEN_noact_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance SD_rdEN_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance rst_n_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename pr_stateZ0Z_7 "pr_state[7]") (joined
           (portRef Q (instanceRef pr_state_7))
           (portRef A (instanceRef pr_state_RNIG4RA_7))
          ))
          (net (rename pr_stateZ0Z_6 "pr_state[6]") (joined
           (portRef Q (instanceRef pr_state_6))
           (portRef A (instanceRef pr_state_RNO_4))
           (portRef B (instanceRef rd_state_RNO_0_1))
          ))
          (net (rename pr_stateZ0Z_5 "pr_state[5]") (joined
           (portRef Q (instanceRef pr_state_5))
           (portRef A (instanceRef pr_state_RNION3A_5))
          ))
          (net (rename pr_stateZ0Z_4 "pr_state[4]") (joined
           (portRef Q (instanceRef pr_state_4))
           (portRef A (instanceRef pr_state_RNIMN3A_2))
           (portRef A (instanceRef rd_state_RNO_0_1))
          ))
          (net (rename pr_stateZ0Z_3 "pr_state[3]") (joined
           (portRef Q (instanceRef pr_state_3))
           (portRef B (instanceRef pr_state_RNION3A_5))
           (portRef A (instanceRef temp_n0_0_0_a3))
           (portRef C (instanceRef temp_n2_0_i))
           (portRef C (instanceRef rd_state_RNO_0))
           (portRef A (instanceRef rd_ok_RNO))
           (portRef C (instanceRef temp_n1_0_i))
          ))
          (net (rename pr_stateZ0Z_2 "pr_state[2]") (joined
           (portRef Q (instanceRef pr_state_2))
           (portRef B (instanceRef pr_state_RNIMN3A_2))
          ))
          (net (rename pr_stateZ0Z_1 "pr_state[1]") (joined
           (portRef Q (instanceRef pr_state_1))
           (portRef A (instanceRef pr_state_RNO_0))
           (portRef B (instanceRef rd_state_RNO_2))
           (portRef B (instanceRef rd_state_RNO_1))
          ))
          (net (rename pr_stateZ0Z_0 "pr_state[0]") (joined
           (portRef Q (instanceRef pr_state_0))
           (portRef A (instanceRef pr_state_RNO_1_6))
           (portRef A (instanceRef rd_state_RNO_2))
           (portRef A (instanceRef rd_state_RNO_0))
           (portRef C (instanceRef rd_state_RNO_1))
          ))
          (net (rename tempZ0Z_0 "temp[0]") (joined
           (portRef Q (instanceRef temp_0))
           (portRef B (instanceRef temp_n0_0_0_a3))
           (portRef B (instanceRef temp_n1_0_i_o3))
           (portRef A (instanceRef temp_n1_0_i))
          ))
          (net (rename tempZ0Z_1 "temp[1]") (joined
           (portRef Q (instanceRef temp_1))
           (portRef A (instanceRef temp_n1_0_i_o3))
           (portRef B (instanceRef temp_n1_0_i))
          ))
          (net (rename tempZ0Z_2 "temp[2]") (joined
           (portRef Q (instanceRef temp_2))
           (portRef B (instanceRef temp_n2_0_i))
           (portRef B (instanceRef rd_ok_RNO))
          ))
          (net rd_ok_0_sqmuxa (joined
           (portRef Y (instanceRef rd_ok_RNO))
           (portRef D (instanceRef rd_ok))
          ))
          (net temp_n0 (joined
           (portRef Y (instanceRef temp_n0_0_0_a3))
           (portRef D (instanceRef temp_0))
          ))
          (net (rename pr_state_ns_1 "pr_state_ns[1]") (joined
           (portRef Y (instanceRef pr_state_RNO_6))
           (portRef D (instanceRef pr_state_6))
          ))
          (net (rename pr_state_RNOZ0Z_5 "pr_state_RNO[5]") (joined
           (portRef Y (instanceRef pr_state_RNO_5))
           (portRef D (instanceRef pr_state_5))
          ))
          (net (rename pr_state_RNOZ0Z_4 "pr_state_RNO[4]") (joined
           (portRef Y (instanceRef pr_state_RNO_4))
           (portRef D (instanceRef pr_state_4))
          ))
          (net (rename pr_state_RNOZ0Z_3 "pr_state_RNO[3]") (joined
           (portRef Y (instanceRef pr_state_RNO_3))
           (portRef D (instanceRef pr_state_3))
          ))
          (net (rename pr_state_RNOZ0Z_1 "pr_state_RNO[1]") (joined
           (portRef Y (instanceRef pr_state_RNO_1))
           (portRef D (instanceRef pr_state_1))
          ))
          (net (rename pr_state_RNOZ0Z_0 "pr_state_RNO[0]") (joined
           (portRef Y (instanceRef pr_state_RNO_0))
           (portRef D (instanceRef pr_state_0))
          ))
          (net (rename pr_state_ns_5 "pr_state_ns[5]") (joined
           (portRef Y (instanceRef pr_state_RNO_2))
           (portRef D (instanceRef pr_state_2))
          ))
          (net (rename rd_state_RNOZ0Z_1 "rd_state_RNO[1]") (joined
           (portRef Y (instanceRef rd_state_RNO_1))
           (portRef D (instanceRef rd_stateZ0Z_1))
          ))
          (net (rename rd_state_RNOZ0Z_2 "rd_state_RNO[2]") (joined
           (portRef Y (instanceRef rd_state_RNO_2))
           (portRef D (instanceRef rd_stateZ0Z_2))
          ))
          (net (rename rd_state_RNOZ0Z_0 "rd_state_RNO[0]") (joined
           (portRef Y (instanceRef rd_state_RNO_0))
           (portRef D (instanceRef rd_stateZ0Z_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net N_93 (joined
           (portRef Y (instanceRef pr_state_RNO_1_6))
           (portRef C (instanceRef pr_state_RNO_6))
          ))
          (net N_92 (joined
           (portRef Y (instanceRef pr_state_RNIG4RA_7))
           (portRef A (instanceRef pr_state_RNO_6))
           (portRef B (instanceRef pr_state_RNO_1))
           (portRef C (instanceRef pr_state_RNO_2))
          ))
          (net N_100 (joined
           (portRef Y (instanceRef pr_state_RNION3A_5))
           (portRef B (instanceRef pr_state_RNO_3))
           (portRef C (instanceRef rd_state_RNO_2))
          ))
          (net N_99 (joined
           (portRef Y (instanceRef pr_state_RNIMN3A_2))
           (portRef B (instanceRef pr_state_RNO_5))
           (portRef B (instanceRef rd_state_RNO_0))
          ))
          (net N_6 (joined
           (portRef Y (instanceRef temp_n1_0_i))
           (portRef D (instanceRef temp_1))
          ))
          (net N_8 (joined
           (portRef Y (instanceRef temp_n2_0_i))
           (portRef D (instanceRef temp_2))
          ))
          (net N_9 (joined
           (portRef Y (instanceRef temp_n1_0_i_o3))
           (portRef A (instanceRef temp_n2_0_i))
           (portRef C (instanceRef rd_ok_RNO))
          ))
          (net Sysclk_c (joined
           (portRef Y (instanceRef Sysclk_pad))
           (portRef CLK (instanceRef rd_stateZ0Z_2))
           (portRef CLK (instanceRef rd_stateZ0Z_1))
           (portRef CLK (instanceRef rd_stateZ0Z_0))
           (portRef CLK (instanceRef pr_state_0))
           (portRef CLK (instanceRef pr_state_1))
           (portRef CLK (instanceRef pr_state_2))
           (portRef CLK (instanceRef pr_state_3))
           (portRef CLK (instanceRef pr_state_4))
           (portRef CLK (instanceRef pr_state_5))
           (portRef CLK (instanceRef pr_state_6))
           (portRef CLK (instanceRef pr_state_7))
           (portRef CLK (instanceRef temp_2))
           (portRef CLK (instanceRef temp_1))
           (portRef CLK (instanceRef temp_0))
           (portRef CLK (instanceRef rd_ok))
          ))
          (net Sysclk (joined
           (portRef Sysclk)
           (portRef PAD (instanceRef Sysclk_pad))
          ))
          (net rst_n_c (joined
           (portRef Y (instanceRef rst_n_pad))
           (portRef CLR (instanceRef rd_stateZ0Z_2))
           (portRef CLR (instanceRef rd_stateZ0Z_1))
           (portRef CLR (instanceRef rd_stateZ0Z_0))
           (portRef CLR (instanceRef pr_state_0))
           (portRef CLR (instanceRef pr_state_1))
           (portRef CLR (instanceRef pr_state_2))
           (portRef CLR (instanceRef pr_state_3))
           (portRef CLR (instanceRef pr_state_4))
           (portRef CLR (instanceRef pr_state_5))
           (portRef CLR (instanceRef pr_state_6))
           (portRef PRE (instanceRef pr_state_7))
           (portRef CLR (instanceRef temp_2))
           (portRef CLR (instanceRef temp_1))
           (portRef CLR (instanceRef temp_0))
           (portRef CLR (instanceRef rd_ok))
          ))
          (net rst_n (joined
           (portRef rst_n)
           (portRef PAD (instanceRef rst_n_pad))
          ))
          (net SD_rdEN_c (joined
           (portRef Y (instanceRef SD_rdEN_pad))
           (portRef B (instanceRef pr_state_RNO_1_6))
           (portRef A (instanceRef pr_state_RNO_5))
           (portRef B (instanceRef pr_state_RNO_4))
           (portRef A (instanceRef pr_state_RNO_3))
           (portRef B (instanceRef pr_state_RNO_0))
           (portRef B (instanceRef pr_state_RNIG4RA_7))
           (portRef A (instanceRef pr_state_RNO_7))
          ))
          (net SD_rdEN (joined
           (portRef SD_rdEN)
           (portRef PAD (instanceRef SD_rdEN_pad))
          ))
          (net SD_rdEN_noact_c (joined
           (portRef Y (instanceRef SD_rdEN_noact_pad))
           (portRef A (instanceRef pr_state_RNO_2))
           (portRef A (instanceRef pr_state_RNO_0_6))
          ))
          (net SD_rdEN_noact (joined
           (portRef SD_rdEN_noact)
           (portRef PAD (instanceRef SD_rdEN_noact_pad))
          ))
          (net row_end_c (joined
           (portRef Y (instanceRef row_end_pad))
           (portRef A (instanceRef pr_state_RNO_1))
           (portRef B (instanceRef pr_state_RNO_2))
           (portRef B (instanceRef pr_state_RNO_0_6))
          ))
          (net row_end (joined
           (portRef row_end)
           (portRef PAD (instanceRef row_end_pad))
          ))
          (net rd_ok_c (joined
           (portRef Q (instanceRef rd_ok))
           (portRef D (instanceRef SD_RdOK_pad))
          ))
          (net SD_RdOK (joined
           (portRef PAD (instanceRef SD_RdOK_pad))
           (portRef SD_RdOK)
          ))
          (net (rename rd_state_c_0 "rd_state_c[0]") (joined
           (portRef Q (instanceRef rd_stateZ0Z_0))
           (portRef D (instanceRef rd_state_pad_0))
          ))
          (net (rename rd_state_0 "rd_state[0]") (joined
           (portRef PAD (instanceRef rd_state_pad_0))
           (portRef (member rd_state 2))
          ))
          (net (rename rd_state_c_1 "rd_state_c[1]") (joined
           (portRef Q (instanceRef rd_stateZ0Z_1))
           (portRef D (instanceRef rd_state_pad_1))
          ))
          (net (rename rd_state_1 "rd_state[1]") (joined
           (portRef PAD (instanceRef rd_state_pad_1))
           (portRef (member rd_state 1))
          ))
          (net (rename rd_state_c_2 "rd_state_c[2]") (joined
           (portRef Q (instanceRef rd_stateZ0Z_2))
           (portRef D (instanceRef rd_state_pad_2))
          ))
          (net (rename rd_state_2 "rd_state[2]") (joined
           (portRef PAD (instanceRef rd_state_pad_2))
           (portRef (member rd_state 0))
          ))
          (net (rename rd_state_9_0_i_a2_0_1 "rd_state_9_0_i_a2_0[1]") (joined
           (portRef Y (instanceRef rd_state_RNO_0_1))
           (portRef A (instanceRef rd_state_RNO_1))
          ))
          (net (rename pr_state_ns_a2_0_0_1 "pr_state_ns_a2_0_0[1]") (joined
           (portRef Y (instanceRef pr_state_RNO_0_6))
           (portRef B (instanceRef pr_state_RNO_6))
          ))
          (net SD_rdEN_c_i (joined
           (portRef Y (instanceRef pr_state_RNO_7))
           (portRef D (instanceRef pr_state_7))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design SDram_rd (cellRef SDram_rd (libraryRef work)))
)
